<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="container">
            <h2><span>Container</span> {{container.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Container Id</span></dt>
                <dd>
                    <span>{{container.containerId}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{container.name}}</span>
                </dd>
                <dt><span>Image</span></dt>
                <dd>
                    <span>{{container.image}}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{container.status}}</span>
                </dd>
                <dt><span>Flavour</span></dt>
                <dd>
                    <span>{{container.flavour}}</span>
                </dd>
                <dt><span>Os</span></dt>
                <dd>
                    <span>{{container.os}}</span>
                </dd>
                <dt><span>Cpu</span></dt>
                <dd>
                    <span>{{container.cpu}}</span>
                </dd>
                <dt><span>Node</span></dt>
                <dd>
                    <div *ngIf="container.nodeId">
                        <a [routerLink]="['/node', container.nodeId, 'view']">{{container.nodeName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/container', container.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
