<div>
    <h2 id="page-heading">
        <span>Containers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-container" [routerLink]="['/container/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Container
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="containers">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="containerId"><span>Container Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span>Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="image"><span>Image</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span>Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="flavour"><span>Flavour</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="os"><span>Os</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cpu"><span>Cpu</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nodeName"><span>Node</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let container of containers ;trackBy: trackId">
                <td><a [routerLink]="['/container', container.id, 'view' ]">{{container.id}}</a></td>
                <td>{{container.containerId}}</td>
                <td>{{container.name}}</td>
                <td>{{container.image}}</td>
                <td>{{container.status}}</td>
                <td>{{container.flavour}}</td>
                <td>{{container.os}}</td>
                <td>{{container.cpu}}</td>
                <td>
                    <div *ngIf="container.nodeId">
                        <a [routerLink]="['../node', container.nodeId , 'view' ]" >{{container.nodeName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/container', container.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/container', container.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'container', { outlets: { popup: container.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
